section {
  background: linear-gradient(45deg, var(--primary), var(--secondary));
}

h1 {
  margin-bottom: 20px;
  background: linear-gradient(to right, var(--accent), #ff69b4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

p {
  margin-bottom: 30px;
  font-weight: bolder;
  text-shadow: #000 1px 4px 15px;
  color: var(--text)
}