@media (min-width: 768px) {
  span {
    width: 45ch;
    white-space: nowrap;
    border-right: 2px solid; /* Simula el cursor */

    animation: typing 5s steps(45), blink 0.5s infinite step-end alternate;
  }

  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 44ch;
    }
  }

  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
}

section {
  background: linear-gradient(45deg, var(--primary), var(--secondary));
}

h1 {
  margin-bottom: 20px;
  background: linear-gradient(to right, var(--accent), #ff69b4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

p {
  margin-bottom: 30px;
  font-weight: bolder;
  text-shadow: #000 1px 2px 5px;
  color: var(--text);
}

span {
  display: block;
  font-family: monospace;
  font-size: 1.5rem;
  overflow: hidden;
}


