<section id="section-home" class="grid md:grid-cols-2 bg-woodsmoke-900">
  <article>
    <h1 class="text-4xl font-semibold">¡Bienvenido a mi Portafolio!</h1>
    <p class="mt-5">
      <b>¡Ey, ¿Qué más?! Soy Miguel</b> <br />
      Soy un desarrollador
      <b class="text-purple-600">web full stack</b> apasionado por crear
      soluciones digitales eficientes y con un enfoque centrado en el usuario.
      Con experiencia en tecnologías como Angular, Laravel, y .NET y otras herramientas, me especializo en transformar ideas en
      aplicaciones web funcionales y atractivas.
    </p>
    <p class="mt-5">
      Explora mi portafolio para conocer más sobre mi, mis habilidades y los
      proyectos en los que he participado.
    </p>
  </article>
  <article class="flex items-center justify-center mt-10 md:mt-0">
    <div class="bg-cod-gray-900 rounded-full w-56 h-56">
      <img [src]="myImg" class="rounded-full" />
    </div>
  </article>
</section>
