<section id="section-about">
  <article class="pl-52">
    <h2>Sobre Mí</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita odit
      autem voluptatem tempora illum totam odio distinctio dolorem repellendus
      voluptatum iure voluptatibus suscipit, impedit rem maxime, eaque aperiam
      ipsam dolor.
    </p>
  </article>
  <article class="my-image">
    <img src="../../../assets/mamedina.png" alt="" class="w-full h-full rounded-full">
  </article>
</section>
