/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

section {
  padding-left: 1.25rem /* 20px */;
  padding-right: 1.25rem /* 20px */;
  
  padding-top: 6rem /* 96px */;
  padding-bottom: 5rem /* 80px */;
}
